body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

h1 {
    margin-bottom: 20px;
    color: #3498db;
}

.container {
    width: 30%;
}

#GraficaBarras {
    margin-top: 20px;
    width: 100%;
}

h3 {
    margin-top: 20px;
    color: #3498db;
    /* Azul */
}

#comentarios {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    text-align: center;
}

#mensaje-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.notificacion-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    /* Ajusta el ancho según tus necesidades */
    padding: 10px;
    background-color: #4CAF50;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    /* Espacio superior */
    display: none;
    /* Ocultar inicialmente */
}


/* Agrega animaciones o transiciones según tus preferencias */